<!-- Modal -->
<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/task?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Note</label>
            <input
              type="text"
              class="form-control note"
              name="note"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Start Time</label>
            <input
              type="date"
              class="form-control start_time"
              name="start_time"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">End Time</label>
            <input
              type="date"
              class="form-control end_time"
              name="end_time"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Create By</label>
            <input
              type="text"
              class="form-control create_by"
              name="create_by"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Started By</label>
            <input
              type="text"
              class="form-control started_by"
              name="started_by"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Finished By</label>
            <input
              type="text"
              class="form-control finished_by"
              name="finished_by"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Status</label>
            <input
              type="text"
              class="form-control is_Active"
              name="is_Active"
              nama="Enter End Time"
              required
            />
          </div>
         
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
