<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
</head>
<body>
   <div class="container">
    
    <div class="row" style="margin-top: 120px;">
       
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center><h1>Login</h1></center>
         <form action="/user/login" method="post">
             <!-- Email input -->
             <div class="form-outline mb-4">
               <input type="email" id="email" class="form-control" name="email"/>
               <label class="form-label" for="form2Example1">Email address</label>
             </div>
           
             <!-- Password input -->
             <div class="form-outline mb-4">
               <input type="password" id="password" class="form-control" name="password"/>
               <label class="form-label" for="form2Example2">Password</label>
             </div>
           
             <!-- 2 column grid layout for inline styling -->
             <div class="row mb-4">
               <div class="col d-flex justify-content-center">
                 <!-- Checkbox -->
                 <div class="form-check">
                   <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                   <label class="form-check-label" for="form2Example31"> Remember me </label>
                 </div>
               </div>
           
               <div class="col">
                 <!-- Simple link -->
                 <a href="#!">Forgot password?</a>
               </div>
             </div>
           
             <!-- Submit button -->
             <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
           
             <!-- Register buttons -->
             <div class="text-center">
               <p>Not a member? <a href="#!">Register</a></p>
               <p>or sign up with:</p>
               <button type="button" class="btn btn-link btn-floating mx-1">
                 <i class="fab fa-facebook-f"></i>
               </button>
           
               <button type="button" class="btn btn-link btn-floating mx-1">
                 <i class="fab fa-google"></i>
               </button>
           
               <button type="button" class="btn btn-link btn-floating mx-1">
                 <i class="fab fa-twitter"></i>
               </button>
           
               <button type="button" class="btn btn-link btn-floating mx-1">
                 <i class="fab fa-github"></i>
               </button>
             </div>
           </form>
        </div>
        <div class="col-md-4"></div>
    </div>
   </div>
          <!-- JS -->
    <%- include('js.ejs') %>
    <script>
$('#myForm').submit(function() {
    // Get all the forms elements and their values in one step
    var email = $('#email').val();
    var password = $('#password').val();
    if(email=="ega@gmail.com"&& password=="ega"){
        alert("berhasil")
        window.location.href = "/task";
    }else{
        alert("password dan username salah")
    }
});
    </script>
</body>
</html>