<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary btn-sm"
      data-toggle="modal"
      data-target="#add-modal"
    >
      Add Task
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Note</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Create By</th>
            <th>Started By</th>
            <th>Finished By</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < task.length; i++){ %>
          <tr>
            <td><%= i +1 %></td>
            <td><%= task[i].note %></td>
            <td><%= task[i].start_time %></td>
            <td><%= task[i].end_time %></td>
            <td><%= task[i].create_by %></td>
            <td><%= task[i].started_by %></td>
            <td><%= task[i].finished_by %></td>
            <td><%= task[i].is_Active %></td>
            
            <td class="text-center">
              <form
                action="/task/<%= task[i].id %>?_method=DELETE"
                method="POST"
              >
                <a
                  href="javascript:void()"
                  class="btn btn-outline-warning btn-sm button-update"
                  data-id="<%= task[i].id %>"
                  data-note="<%= task[i].note %>"
                  data-start_time="<%= task[i].start_time %>"
                  data-end_time="<%= task[i].end_time %>"
                  data-create_by="<%= task[i].create_by %>"
                  data-started_by="<%= task[i].started_by %>"
                  data-finished_by="<%= task[i].finished_by %>"
                  data-is_Active="<%= task[i].is_Active %>"
                  >Edit</a
                >
                <button
                  type="submit"
                  class="btn btn-outline-danger btn-sm"
                  onclick="return confirm('Apa kamu yakin ingin menghapus Task?');"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
