<!-- Modal -->
<div
  class="modal fade"
  id="adduser-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/user" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter Username"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input
              type="string"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter Password"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Status</label>
            <input
              type="string"
              class="form-control"
              id="is_Active"
              name="is_Active"
              placeholder="Enter Status"
              required
            />
          </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
           Cancel
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
