<!-- Modal -->
<div
  class="modal fade"
  id="edituser-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/user?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Username</label>
            <input
              type="text"
              class="form-control username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input
              type="string"
              class="form-control password"
              name="password"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Status</label>
            <input
              type="text"
              class="form-control is_Active"
              name="is_Active"
              required
            />
          </div>
        
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
