<!DOCTYPE html>
<html>
  <head>
    <title>Task Planner</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">Daftar User</h2>
      <div class="row mt-3">
        <!-- Alert -->
        <div class="col-auto col-lg-12 mt-2">
          <% if(alert.message != "") { %>
          <div class="alert alert-<%= alert.status %>" role="alert">
            <%= alert.message %>
          </div>
          <% } %>
        </div>
        <!-- Table -->
        <div class="col-auto col-lg-12 mt-2"><%- include('table.ejs') %></div>
      </div>
    </div>
    <!-- Add Modal -->
    <%- include('adduser_modal.ejs') %>
    <!-- Add Modal -->
    <%- include('edituser_modal.ejs') %>
    <!-- JS -->
    <%- include('../js.ejs') %>

    <script>
      /* Menampilkan modal dan memanggil tag table yang memiliki id dataTable
         class button-update di class tag a Edit di file table.ejs */
      $("#dataTable").on("click", ".button-update", function () {
        // membuat variabel untuk mengambil data-id, data-name, dstnya yang sudah dibuat di file table.ejs di bagian tag a edit
        let id = $(this).data("id");
        let username = $(this).data("username");
        let password = $(this).data("password");
        let is_Active = $(this).data("is_Active");
        
        $("#edituser-modal").modal("show");
        /* Lalu Mengirim  id, name, dstnya melalu class disamping form-control tag input
           dan valuenya mengambil dari setiap let yang dideklarasikan di atas */
        $(".id").val(id);
        $(".username").val(username);
        $(".password").val(password);
        $(".is_Active").val(is_Active);
      });
    </script>
  </body>
</html>
