<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary btn-sm"
      data-toggle="modal"
      data-target="#adduser-modal"
    >
      Add
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Username</th>
            <th>Password</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < user.length; i++){ %>
          <tr>
            <td><%= i +1 %></td>
            <td><%= user[i].username %></td>
            <td><%= user[i].password %></td>
            <td><%= user[i].is_Active %></td>
            <td class="text-center">
              <form
                action="/user/<%= user[i].id %>?_method=DELETE"
                method="POST"
              >
                <a
                  href="javascript:void()"
                  class="btn btn-outline-warning btn-sm button-update"
                  data-id="<%= user[i].id %>"
                  data-username="<%= user[i].username %>"
                  data-password="<%= user[i].password %>"
                  data-is_Active="<%= user[i].is_Active %>"
                  
                  >Edit</a
                >
                <button
                  type="submit"
                  class="btn btn-outline-danger btn-sm"
                  onclick="return confirm('Apa kamu yakin ingin menghapus User?');"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
